n8n-workflows/02-get-calendar-v4.json
{
  "name": "SafeApp - Get Calendar Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "safeapp-calendar",
        "responseMode": "responseNode"
      },
      "id": "webhook-calendar",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "safeapp-calendar"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": "primary",
        "options": {
          "maxResults": 2500,
          "singleEvents": true,
          "orderBy": "startTime",
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString() }}"
        }
      },
      "id": "google-calendar",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MRm9CnX4CmzMtFkt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const eventsArray = items.map(item => item.json);\nreturn [{ json: { events: eventsArray } }];"
      },
      "id": "code-aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.events) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Google Calendar", "type": "main", "index": 0}]]
    },
    "Google Calendar": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Aggregate": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
