n8n-workflows/03-get-stock-final.json
{
  "name": "SafeApp - Get Stock",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "safeapp-stock",
        "responseMode": "responseNode"
      },
      "id": "webhook-stock",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "safeapp-stock"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1qmSveh_54AGMoLNqLEbhvc53t8ul6ctR1L7jauD0qUo",
          "mode": "list",
          "cachedResultName": "Stock Safe"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1"
        },
        "range": "A:K",
        "options": {}
      },
      "id": "google-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z0GZAkjqB9lp0b7G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate all items into a single array\nconst stockArray = items.map(item => item.json);\nreturn [{ json: { stock: stockArray } }];"
      },
      "id": "code-aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.stock) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Google Sheets", "type": "main", "index": 0}]]
    },
    "Google Sheets": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Aggregate": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
